html {
      font-size: 22px;
}
body {
      background-color: rgb(14, 14, 14);
      color: blanchedalmond;
}    

a {
      color: #dd5555;
}

a:visited {
      color: #4b1717;
}

a:hover, a:active {
      color: rgb(233, 177, 177);
}

table, tr, th, td, caption {
      border: 1px solid #eee;
      font-family: 'Courier New', Courier, monospace;
      border-collapse: collapse;
      padding: 0.5rem;
}